NODE_ENV=development
PORT=4000

JWT_SECRET=secret

DATABASE=mongodb+srv://<username>:<password>@mobile-database.xpkoema.mongodb.net/?retryWrites=true&w=majority&appName=Mobile-Database
DATABASE_USERNAME=
DATABASE_PASSWORD=

MAX_RATE_LIMIT = 100
MAX_RATE_LIMIT_TIME = 60