NODE_ENV=development
PORT=4000

DATABASE=mongodb+srv://<username>:<password>@mobile-database.xpkoema.mongodb.net/?retryWrites=true&w=majority&appName=Mobile-Database
DATABASE_USERNAME=
DATABASE_PASSWORD=

AWS_ACCESS_KEY_ID=your-access-key-id
AWS_SECRET_ACCESS_KEY=your-secret-access-key
AWS_SESSION_TOKEN=your-session-token
AWS_REGION=your-aws-region
AWS_S3_BUCKET_NAME=your-bucket-name

MAX_RATE_LIMIT = 100
MAX_RATE_LIMIT_TIME = 60