NODE_ENV=development
PORT=4001

REDIS_PASSWORD="your-redis-password-here"
REDIS_HOST="localhost"
REDIS_PORT=6379

GQL_SERVER_URL="http://apollo:4000/graphql"
JWT_SECRET=secret
REFRESH_TOKEN_SECRET=secret

AWS_ACCESS_KEY_ID=your-access-key-id
AWS_SECRET_ACCESS_KEY=your-secret-access-key
AWS_SESSION_TOKEN=your-session-token
AWS_REGION=your-aws-region
AWS_S3_BUCKET_NAME=your-bucket-name

MAX_RATE_LIMIT = 100
MAX_RATE_LIMIT_TIME = 60
